<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
      <head>
            <title>Zachary Schroeder | Resume</title>
            
            <meta name="description" content="A simple resume">
            <meta charset="utf-8" />
            <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
      </head>

      <body>
            <div id="react-entrypoint">
            </div>
            
            <script type="text/javascript" src="{{ url_for('static', filename='dist/main.bundle.js') }}"></script>
      </body>
</html>